{% extends 'base.html' %}
{% load thumbnail w2gn_tags %}

{% block container %}
    <h1>
        <a href="{% url 'get_taxi' venue.pk %}">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
        Ошибка вызова
    </h1>

    <h3>К сожалению, произошла ошибка</h3>
    {% if messages %}
    <div class="alert alert-danger">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}

    <p>
    По каким-то причинам нам не удалось вызвать такси автоматически. Вы можете сделать это самостоятельно,
    позвонив по одному из номеров:
    </p>
    <dl>
        <dt>Такси «Везет»</dt>
        <dd class="phone">8 (343) 238-38-38</dd>

        <dt>Такси «Три десятки»</dt>
        <dd class="phone">8 (343) 310-10-10</dd>

        <dt>Такси «Ника»</dt>
        <dd class="phone">8 (343) 300-01-01</dd>


        <dt>Такси «Автомиг»</dt>
        <dd class="phone">8 (343) 3-450-450</dd>


        <dt>Такси «Три пятерки»</dt>
        <dd class="phone">8 (343) 222-35-55</dd>
    </dl>

    Или попробуйте повторить вызов такси.
{% endblock %}