{% extends 'base.html' %}
{% load thumbnail w2gn_tags %}

{% block container %}
    <h1>
        <a href="{% url 'place_item' venue.pk %}">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
        Поздравляем!
    </h1>

    <h3>Такси уже в пути.</h3>
    <p>
    Пока машина едет, вы можете пригласить друзей в {{ venue.title }}, чтобы они провели время с вами.
    </p>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Ваши предложения</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ feedback_form }}
            </table>
            <button type="submit" class="btn btn-lg btn-success col-md-12">
                Отправить отзыв
            </button>
        </form>
    {% endif %}
{% endblock %}