{% extends 'base.html' %}

{% block container %}
    <h1>Укажите, с кем хотите пойти</h1>
    <div class="row-fluid">
        {% for c in categories %}
        <div class="col-md-4">
            <a href="{% url 'select_category' %}?cat={{ c.pk }}" class="thumbnail">
                <img data-src="holder.js/80x80" alt="...">
                <div class="caption">{{ c.name }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}