{% extends 'base.html' %}

{% block container %}
    <h1>Укажите, с кем хотите пойти</h1>
    <div class="row-fluid">
        <div class="col-md-6">
            <a href="{% url 'select_company' %}?company=alone" class="thumbnail">
                <img data-src="holder.js/120x120" alt="...">
                <div class="caption">
                    Один
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'select_company' %}?company=comp" class="thumbnail">
                <img data-src="holder.js/120x120" alt="...">
                <div class="caption">
                    C компанией
                </div>
            </a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-6">
            <a href="{% url 'select_company' %}?company=girlfriend" class="thumbnail">
                <img data-src="holder.js/120x120" alt="...">
                <div class="caption">
                    C парой
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'select_company' %}?company=family" class="thumbnail">
                <img data-src="holder.js/120x120" alt="...">
                <div class="caption">
                    C семьей
                </div>
            </a>
        </div>
    </div>
{% endblock %}