{% extends 'base.html' %}
{% load thumbnail %}

{% block container %}
    <h1>Куда пойти дальше</h1>
    <a href="{% url 'place_item' venue.pk %}">
        {% if venue.get_main_image %}
            <img src="{% thumbnail venue.get_main_image.get_image 400x400 crop %}">
        {% else %}
            <img src="holder.js/400x400">
        {% endif %}
        <h3>{{ venue.title }}</h3>
    </a>
    <em>{{ venue.description }}</em>
    <em>{{ venue.address }}</em>
    <br><br>

    <div class="bg_plate col-md-8">
        <i class="glyphicon glyphicon-time"></i>
        {% if venue.works_to != False %}
            {% if venue.works_to == 1 %}
                Круглосуточно
            {% else %}
                {{ venue.works_to|timeuntil }}
            {% endif %}
        {% else %}
            Хуй знает
        {% endif %}
    </div>
    <div class="distance col-md-4">
        <i class="glyphicon glyphicon-map-marker"></i> {{ venue.distantion }} км.
    </div>
{% endblock %}