{% extends 'base.html' %}
{% load thumbnail w2gn_tags %}

{% block container %}
    <h1>
        <a href="{% url 'place_item' venue.pk %}">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
        Заказ такси
    </h1>
    <em>В бар {{ venue.title }}</em>

    <img src="holder.js/400x400">

    <h2>
    Едем в {{ venue.title }} за {{ taxi.price }} руб.
    </h2>

    <p>
    Такси вызывается через службу такси «Ника» (тел. 300-01-01). Служба такси выбрана как наиболее экономичная.
    </p>

    <form action="{% url 'get_taxi_post' venue.pk taxi.uid %}" method="POST">
        {% csrf_token %}
        <table>
            {{ form }}
            <tr>
                <td></td>
                <td>
                    <img src="{% url 'captcha' taxi.get_session_id %}">
                </td>
            </tr>
        </table>

        <div>
            <div class="row">
                <button type="submit" class="btn btn-lg btn-danger col-md-12">
                    Вызвать такси за {{ taxi.price }} Р
                </button>
            </div>
            <br>
        </div>
    </form>
{% endblock %}