{% extends 'base.html' %}

{% block body_class %}home{% endblock %}
{% block container %}
    <h1>Куда пойти дальше?</h1>
    <a href="{% url 'select_company' %}" class="main_link"></a>
    <div class="tac">
        <img src="https://cdn1.iconfinder.com/data/icons/flat-ui-free/128/compass.png">
    </div>
{% endblock %}