{% extends 'base.html' %}
{% load thumbnail w2gn_tags %}

{% block container %}
    <h1>
        <a href="{% url 'get_venues' %}">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
        {{ venue.title }}
    </h1>
    <em>{{ venue.description }}</em>

    {% if venue.get_main_image %}
        <img src="{% thumbnail venue.get_main_image.get_image 400x400 crop %}">
    {% else %}
        <img src="holder.js/400x400">
    {% endif %}

    <div class="images">
        {% for i in venue.images.all|slice:"4" %}
            <img src="{% thumbnail i.get_image 96x96 crop %}" class="img-rounded">
        {% endfor %}
    </div>
    <br>

    <div class="row">
        <div class="bg_plate col-md-12">
            <i class="glyphicon glyphicon-time"></i>
            {% if venue.works_to != False %}
                {% if venue.works_to == 1 %}
                    Круглосуточно
                {% else %}
                    <span style="color: #8693a1">До закрытия</span> {{ venue.works_to|timeuntil }}<br>
                    <span style="font-size: 12px; color: #8693a1">Работает до {{ venue.works_to|date:"H:i" }}</span>
                {% endif %}
            {% else %}
                Хуй знает
            {% endif %}
        </div>
    </div>
    <br>

    <p>
        <i class="glyphicon glyphicon-map-marker"></i> {{ venue.distantion }} км.<br>
        <em>{{ venue.address }}</em>
    </p>

    {% if venue.avg_price %}
    <p>
        Средний чек <strong>{{ venue.avg_price }}</strong>
    </p>
    {% endif %}

    {% if venue.get_phone.value %}
    <p>
        Телефон <strong>{{ venue.get_phone.value }}</strong>
    </p>
    {% endif %}

    {% if venue.placemeta.flamp_rate %}
    <p>
        Рейтинг Flamp <strong>{{ venue.placemeta.flamp_rate }}</strong>
    </p>
    {% endif %}

    <h3>Там есть</h3>
    <div style="font-size: 18px;">
        {% for i in venue.main_category.all %}
            <span class="label label-danger">{{ i.title }}</span>
        {% endfor %}
        {% for i in venue.option_category.all %}
            <span class="label label-danger">{{ i.title }}</span>
        {% endfor %}
        {% for i in venue.placemeta.double_gis_tags.all %}
            <span class="label label-danger">{{ i.title }}</span>
        {% endfor %}
        {% for i in venue.placemeta.double_gis_category.all %}
            <span class="label label-danger">{{ i.title }}</span>
        {% endfor %}
    </div>

    {% if venue.menus.all > 0 %}
    <h3>Стоимость напитков и еды</h3>
    <p>
    {% for i in venue.menus.all %}
        {{ i.menu_item }}: {{ i.price }}<br>
    {% endfor %}
    </p>
    {% endif %}


    {% if venue.contacts.all|length > 0 %}
        <h3>Страницы</h3>
        <p>
        {% for c in venue.contacts.all  %}
            {% if c.contact_type in c.SOCIAL_LIST.keys %}
                <a href="{{ c.value }}">
                    <i class="icon si icon-{{ c.contact_type }}"
                       style="background: #{{ c.SOCIAL_LIST|get_dict_value:c.contact_type }}"></i>
                </a>
            {% endif %}
        {% endfor %}
        <br>
        {% for c in venue.contacts.all  %}
            {% if c.contact_type in 'website' %}
                <a href="{{ c.value }}">
                    <i class="glyphicon glyphicon-globe"></i> {{ c.value }}
                </a>
            {% endif %}
        {% endfor %}
        </p>
    {% endif %}

    {% if venue.placemeta.flamp_review_count > 0 %}
    <h3>Отзывы</h3>
    <em>Предоставлено сервисом <a href="http://www.flamp.ru/">Flamp</a></em>
    <br><br>

    <div>
        {% for r in venue.get_flamp_review.reviews %}
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ r.user|get_dict_value:'image'|format_flamp_img }}" width="80">
                </div>
                <div class="col-md-9" style="font-size:12px;">
                    {{ r.text }}
                    <br>
                    <em style="color: #373c41">{{ r.user|get_dict_value:'name' }}, отправлено {{ r.date_created }}</em>
                    <br><br>
                </div>
            </div>
        {% endfor %}
        {% if venue.placemeta.flamp_review_count|delta:5 > 1 %}
        <div class="row">
            <a href="http://ekaterinburg.flamp.ru/firm/{{ venue.double_gis_id }}/#feed" class="btn btn-success btn-lg col-md-12">
                Еще {{ venue.placemeta.flamp_review_count|delta:5 }} отзывов на Flamp
            </a>
        </div>
        <br>
        {% endif %}
    </div>
    {% endif %}

    <div>
        <div class="row">
            <a href="{% url 'get_taxi' venue.pk %}" class="btn btn-lg btn-danger col-md-12">
                Вызвать такси за {{ taxi.price }} Р
            </a>
        </div>
        <br>
    </div>
{% endblock %}