@import 'grands-icons.less';

body {
  background: #20262b;
  color: #fff;
}
html {
  min-height: 100%;
  height: 100%;
}
body.home {
  background: #b42d1f;
  width: 100%;
  height: 100%;
  min-height: 100%;
  h1 {
    color: #fff;
  }
  a.main_link {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.wrapper {
    max-width: 400px;
    position: relative;
    left: 50%;
    margin-left: -200px;
    height: 100%;
    min-height: 100%;
}
.bg_plate {
  background: #373c41;
  padding: 20px;
  font-size: 20px;
}
.distance {
  padding: 20px;
}
.si {
  font-size: 40px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}


/////
.tac {text-align: center;}